.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}

@media screen and (min-width: 768px){
    .md-drawer-relative--mini.md-drawer-relative--mini, .md-drawer-relative.md-drawer-relative {
        display: flex
    }
}

@import '~react-md/src/scss/react-md';
@import '../../layout/theme.scss';

@include react-md-everything;

$md-toolbar-include-themed: true !default;