@import '~react-md/src/scss/react-md';
@import 'variables';

$md-light-theme: false;

@include react-md-everything;

// Or for a subsection
@include react-md-theme-everything($md-primary-color, $md-secondary-color, $md-light-theme, 'custom-theme');

.main-container,
.darker-background {
    background-color: $md-tertiary-color
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
